<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <ion-title>{{item.namabarang}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="settings()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-button size="small" shape="round" color="medium" (click)="notifications()">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge color="dark" slot="end">2</ion-badge>
    </ion-button> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Data Inventory</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Kode Barang: {{item.kodebarang}} {{item.nup}}</p>
      <p>Nama Barang: {{item.namabarang}}</p>
      <p *ngIf="item.nfctag">NFC Tag: {{item.nfctag}}</p>
      <p *ngIf="!item.nfctag">NFC Tag: -</p>
      <p>Ruangan: {{item.koderuangan}} - {{item.uraianruangan}} </p>
      <p>Keterangan: {{item.keterangan}}</p>
      <p>Merk: {{item.merk}}</p>
      <p>Tanggal Peroleh: {{item.tanggalperoleh  | date: 'EEEE, d MMMM y' }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>