<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add New inventory</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label position="stacked">Kode Barang</ion-label>
    <ion-select [(ngModel)]="data.kodebarang" placeholder="Pilih Kode Barang">
      <ion-select-option *ngFor="let item of kodeBarang" value="{{item.kodebarang}}">{{item.namabarang}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tanggal Peroleh</ion-label>
    <ion-input type="date" [(ngModel)]="data.tanggalperoleh"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Merk</ion-label>
    <ion-input [(ngModel)]="data.merk"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">NUP</ion-label>
    <ion-input [(ngModel)]="data.nup"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Kode Ruangan</ion-label>
    <ion-select [(ngModel)]="data.koderuangan" placeholder="Pilih Ruangan">
      <ion-select-option *ngFor="let item of kodeRuangan" value="{{item.koderuangan}}">
        {{item.koderuangan}} - {{item.uraianruangan}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Keterangan</ion-label>
    <ion-input [(ngModel)]="data.keterangan"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">NFC Tag</ion-label>
    <ion-input [(ngModel)]="data.nfctag"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="submit()">Submit</ion-button>
</ion-content>