<!-- <ion-toolbar> -->
<!-- <ion-title>
      Inventory
    </ion-title> -->
<!-- </ion-toolbar> -->
<ion-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" Placeholder="Cari nama barang atau NFC tag"> </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-item>
    <ion-label position="stacked">Kode Ruangan</ion-label>
    <ion-select [(ngModel)]="ruanganselected" placeholder="Pilih Ruangan" (ionChange)="getData()">
      <ion-select-option value="" selected>Seluruh data</ion-select-option>
      <ion-select-option *ngFor="let item of kodeRuangan" value="{{item.koderuangan}}">
        {{item.koderuangan}} - {{item.uraianruangan}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-card *ngIf="items?.length == 0">
    <ion-card-content>
      Data tidak ditemukan
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of items" (click)="detail(item)">
    <ion-card-content>
      <p>Kode Barang: {{item.kodebarang}} {{item.nup}}</p>
      <b>Nama Barang: {{item.namabarang}}</b>
      <p>Keterangan: {{item.keterangan}}</p>
      <p>Ruangan: {{item.koderuangan}} - {{item.uraianruangan}} </p>
      <p *ngIf="item.nfctag">NFC Tag: {{item.nfctag}}</p>
      <p *ngIf="!item.nfctag">NFC Tag: -</p>
    </ion-card-content>
  </ion-card>
</ion-content>


<!-- <ion-card *ngFor="let item of items">
    <ion-card-content>
      <p>Kode Barang: {{item.kodebarang}}</p>
      <p>Nama Barang: {{item.namabarang}}</p>
      <p *ngIf="item.nfctag">NFC Tag: {{item.nfctag}}</p>
      <p *ngIf="!item.nfctag">NFC Tag: -</p>
      <p>Nama Barang: {{item.namabarang}}</p>
      <p>Ruangan: {{item.koderuangan}} - {{item.uraianruangan}} </p>
      <p>Keterangan: {{item.keterangan}}</p>
      <p>Merk: {{item.merk}}</p>
      <p>NUP: {{item.nup}}</p>
      <p>Tanggal Peroleh: {{item.tanggalperoleh  | date: 'EEEE, d MMMM y' }}</p>
    </ion-card-content>
  </ion-card> -->