<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="wifi"></ion-icon>
      <ion-label>Read NFC</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search Inventory</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
