.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.nodata{
  // margin-top: 20%;
  text-align: center;
}
.img-main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img-nodata{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
}

