<ion-header>
  <ion-toolbar>
    <ion-title>
      BMN NFC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <img class="img-main" src="assets/img/logo.png">
    <!-- <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header> -->
    <ion-card-content>
      Aplikasi BMN NFC digunakan untuk mengelola dan memonitor barang yang terdapat pada Politeknik Negeri
      Batam.
    </ion-card-content>
  </ion-card>

  <!-- <ion-item>
    <ion-label>NFC Tag</ion-label>
    <ion-input [(ngModel)]="nfctag"></ion-input>
  </ion-item>
  <ion-button (click)="getInventory()" expand="full">GET DATA </ion-button> -->
  <!-- <ion-button (click)="removeInventory()" expand="full">REMOVE DATA </ion-button> -->

  <p *ngIf="!inventory && !nfctag" class="nodata">
    <img class="img-nodata" src="assets/img/nfc.png">
    Please approach a NFC Tag</p>


  <!-- <ion-card *ngIf="!inventory && nfctag && isruangan == false">
    <ion-card-header>
      <ion-card-title>NFC Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Tag ID {{ nfctag  }} belum terdaftar</p>
      <ion-button expand="full" (click)="addinventory()">Apakah mau didaftarkan ?
      </ion-button> -->
      <!-- <p *ngIf="rawdata">Raw Data: {{ rawdata  }}</p> -->
    <!-- </ion-card-content>
  </ion-card> -->

  <ion-card *ngIf="nfctag">
    <ion-card-header>
      <ion-card-title>NFC Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Tag ID {{ nfctag  }}</p>
      <ion-button expand="full" (click)="addinventory()">Apakah mau didaftarkan ?
      </ion-button>
      <p *ngIf="rawdata">Raw Data: {{ rawdata  }}</p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card *ngFor="let item of inventory" (click)="detail(item)">
    <ion-card-content>
      <p>Kode Barang: {{item.kodebarang}} {{item.nup}}</p>
      <b>Nama Barang: {{item.namabarang}}</b>
      <p>Ruangan: {{item.koderuangan}} - {{item.uraianruangan}} </p>
      <p *ngIf="item.nfctag">NFC Tag: {{item.nfctag}}</p>
      <p *ngIf="!item.nfctag">NFC Tag: -</p>
    </ion-card-content>
  </ion-card> -->


  <!-- <ion-button color="primary" *ngIf="!inventory" (click)="getbarang()" expand="block">Load example</ion-button>
  <ion-button color="primary" *ngIf="inventory" (click)="removebarang()" expand="block">Remove example</ion-button> -->

  <!-- <ion-card *ngFor="let item of inventory">
    <ion-card-header>
      <ion-card-title>Data Inventory</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Kode Barang: {{item.kodebarang}}</p>
      <p>Nama Barang: {{item.namabarang}}</p>
      <p *ngIf="item.nfctag">NFC Tag: {{item.nfctag}}</p>
      <p *ngIf="!item.nfctag">NFC Tag: -</p>
      <p>Nama Barang: {{item.namabarang}}</p>
      <p>Ruangan: {{item.koderuangan}} - {{item.uraianruangan}} </p>
      <p>Keterangan: {{item.keterangan}}</p>
      <p>Merk: {{item.merk}}</p>
      <p>NUP: {{item.nup}}</p>
      <p>Tanggal Peroleh: {{item.tanggalperoleh  | date: 'EEEE, d MMMM y' }}</p>
    </ion-card-content>
  </ion-card> -->
  <!--
  
  <ion-card *ngIf="let item of inventory">
    <ion-card-content>
      <p>Kode Barang: {{item.kodebarang}}</p>
      <p>Nama Barang: {{item.namabarang}}</p>
      <p *ngIf="item.nfctag">NFC Tag: {{item.nfctag}}</p>
      <p *ngIf="!item.nfctag">Barang ini belum memiliki TAG</p>
      <p>Nama Barang: {{item.namabarang}}</p>
      <p>Ruangan: {{item.uraianruangan}} ({{item.koderuangan}})</p>
      <p>Keterangan: {{item.keterangan}}</p>
      <p>Merk: {{item.merk}}</p>
      <p>NUP: {{item.nup}}</p>
      <p>Tanggal Peroleh: {{item.tanggalperoleh}}</p>
    </ion-card-content>
  </ion-card> -->
</ion-content>